@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
html {
    box-shadow: none !important;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #c1c1c1;
}

.chakra-checkbox__control {
    box-shadow: none !important;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

*[data-focus],
*:hover,
*:focus {
    box-shadow: none !important;
}
