html {
    box-shadow: none !important;
    overflow-y: hidden;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #c1c1c1;
}

.chakra-checkbox__control {
    box-shadow: none !important;
}

*[data-focus],
*:hover,
*:focus {
    box-shadow: none !important;
}
